<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COMP 4905 Project</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/cover2.css" rel="stylesheet">
        <link href="/css/gamemode.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default border">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="toUserAccount"><a href="/users/userAccount"><img src=<%= (locals.user.avatar)?locals.user.avatar:'-' %> height ="50" width="70" /></a></li></a>
                        <li style="background-color:#4682B4;"><a style="color: #FFFFFF;" href="/users/menu">Menu</a></li>
                        <li style="background-color:#CD5C5C; margin-left:10px;"><a style="color: #FFFFFF;" href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <button id ="btn"><a style="color: #000000;" href="/users/scales">Scales</a></button>
            <br><br>
            <button id ="btn"><a style="color: #000000;" href="/users/intervals">Intervals</a></button>
            <br><br>
        </div>
    </body>
</html>
