.navbar{
    background:transparent !important;
}

.container{
    text-align: center;
    width: 1300px;
    height: 200px;
    padding-top: 50px;
}

#btn{
    font-size: 25px;
}

.header{
    text-align: center;
    width: 1300px;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 300px;
}

.border{
    border: none;
    margin-top: 10px;
}

.toUserAccount{
    margin-right: 0px;
    margin-top: -15px;
}
