<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>High Scores</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/cover2.css" rel="stylesheet">
        <link href="/css/highScores.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default border">
            <div class="container-fluid">
                <%- messages() %>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="toUserAccount"><a href="/users/userAccount"><img src=<%= (locals.user.avatar)?locals.user.avatar:'-' %> height ="50" width="70" /></a></li></a>
                        <li style="background-color:#4682B4;"><a style="color: #FFFFFF;" href="/users/menu">Menu</a></li>
                        <li style="background-color:#CD5C5C; margin-left:10px;"><a style="color: #FFFFFF;" href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="title">
            <h2>High Scores</h2>
        </div>
        <div class="tables">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" id="name1">-</th>
                        <td id="score1">-</td>
                    </tr>
                    <tr>
                        <th scope="row" id="name2">-</th>
                        <td id="score2">-</td>
                    </tr>
                    <tr>
                        <th scope="row" id="name3">-</th>
                        <td id="score3">-</td>
                    </tr>
                    <tr>
                        <th scope="row" id="name4">-</th>
                        <td id="score4">-</td>
                    </tr>
                    <tr>
                        <th scope="row" id="name5">-</th>
                        <td id="score5">-</td>
                    </tr>
                    <tr>
                        <th scope="row" id="name6">-</th>
                        <td id="score6">-</td>
                    </tr>
                    <tr>
                        <th scope="row" id="name7">-</th>
                        <td id="score7">-</td>
                    </tr>
              </tbody>
            </table>
            <button class="scalesGame" id="scalesGame">Scales</button>
            <button class="intervalGame" id="intervalGame" >Intervals</button>
        </div>

        <script type="text/javascript">
        //I put the JavaScript here to access "scaleScores" and "intervalScores". Otherwise,
        //if I have a seperate JavaScript file I get an error for "%"  brackets. 
            var scaleScores = <%- JSON.stringify(scaleScores) %>;
            var intervalScores = <%- JSON.stringify(intervalScores) %>;

            for(i = 0; i < scaleScores.length; i++){
                if(i == 7){
                    break;
                }

                let nameId = "name" + (i + 1);
                let scoreId = "score" + (i + 1);

                document.getElementById(nameId).innerText = scaleScores[i][0];
                document.getElementById(scoreId).innerText = scaleScores[i][1];
            }

            document.getElementById("scalesGame").onclick = function() {
                for(i = 0; i < 7; i++){

                    let nameId = "name" + (i + 1);
                    let scoreId = "score" + (i + 1);

                    document.getElementById(nameId).innerText = "-";
                    document.getElementById(scoreId).innerText = "-";
                }

                for(i = 0; i < scaleScores.length; i++){
                    if(i == 7){
                        break;
                    }

                    let nameId = "name" + (i + 1);
                    let scoreId = "score" + (i + 1);

                    document.getElementById(nameId).innerText = scaleScores[i][0];
                    document.getElementById(scoreId).innerText = scaleScores[i][1];
                }
                document.getElementById("scalesGame").style.backgroundColor = "#5F9EA0";
                document.getElementById("intervalGame").style.backgroundColor = "#FFFFFF";
            }

            document.getElementById("intervalGame").onclick = function() {

                for(i = 0; i < 7; i++){

                    let nameId = "name" + (i + 1);
                    let scoreId = "score" + (i + 1);

                    document.getElementById(nameId).innerText = "-";
                    document.getElementById(scoreId).innerText = "-";
                }

                for(i = 0; i < intervalScores.length; i++){
                    if(i == 7){
                        break;
                    }

                    let nameId = "name" + (i + 1);
                    let scoreId = "score" + (i + 1);

                    document.getElementById(nameId).innerText = intervalScores[i][0];
                    document.getElementById(scoreId).innerText = intervalScores[i][1];
                }
                document.getElementById("scalesGame").style.backgroundColor = "#FFFFFF";
                document.getElementById("intervalGame").style.backgroundColor = "#5F9EA0";
            }

        </script>

    </body>
</html>
