<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Interval Tutorial</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.38/Tone.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/cover2.css" rel="stylesheet">
        <link href="/css/intervalTutorial.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default border">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="toUserAccount"><a href="/users/userAccount"><img src=<%= (locals.user.avatar)?locals.user.avatar:'-' %> height ="50" width="70" /></a></li></a>
                        <li style="background-color:#4682B4;"><a style="color: #FFFFFF;" href="/users/menu">Menu</a></li>
                        <li style="background-color:#CD5C5C; margin-left:10px;"><a style="color: #FFFFFF;" href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="rectangle" style="width:900px;height:400px;border:1px solid #000; background-color: #909090;">
            <textarea name="name" rows="10" cols="40" id="interval-tutorial-intro" class="interval-tutorial-intro">                                 <== Welcome to the Interval Game Tutorial ==>

        To play Interval Mode you will be guessing how many half steps are between 2 different notes with the goal of testing and improving your musical ear. Click "START" to see the steps to play the game:
            </textarea>
            <textarea name="name" rows="10" cols="40" id="step4b" class="step4b">
There are 12 possible intervals to choose from; 1 for each half step from the root note.

Here is what each interval sounds like:

        Interval #1: 1 Half Step
        -----------------------------
        Alias: Minor 2nd
        Sounds like : Jaws Theme
        Sample:
            </textarea>
            <textarea name="name" rows="10" cols="40" id="step4c" class="step4c">
        Interval #2: 2 Half Steps                                        Interval #4: 4 Half Steps
        ---------------------------------                                         -----------------------------
        Alias: Major 2nd                                                     Alias: Major 3rd
        Sounds like: Frère Jacques                                   Sounds like: When the Saints Go Marching In
        Sample:                                                                 Sample:


        Interval #3: 3 Half Steps                                   Interval #5: 5 Half Steps
        ------------------------------------                                 -------------------------------
        Alias: Minor 3rd                                                       Alias: Perfect 4th
        Sounds like: Mad World                                          Sounds like: Summer Nights (Grease)
        Sample:                                                                   Sample:

            </textarea>

            <textarea name="name" rows="10" cols="40" id="step4d" class="step4d">
        Interval #6: 6 Half Steps                                                      Interval #8: 8 Half Steps
        ---------------------------------                                                  -----------------------------
        Alias: Tritone                                                                      Alias: Minor 6th
        Sounds like: Dissonant, YYZ (Rush), The Simpsons        Sounds like: We Are Young, Call Me Maybe
        Sample:                                                                              Sample:


        Interval #7: 7 Half Steps                                       Interval #9: 9 Half Steps
        ------------------------------------                                --------------------------------
        Alias: Perfect 5th                                                  Alias: Major 6th
        Sounds like: Star Wars                                        Sounds like: Hush Little Baby (the lullaby)
        Sample:                                                                Sample:

            </textarea>

            <textarea name="name" rows="10" cols="40" id="step4e" class="step4e">
        Interval #10: 10 Half Steps                                       Interval #12: 12 Half Steps
        ---------------------------------                                        -----------------------------
        Alias: Minor 7th                                                         Alias: Octave
        Sounds like: Can't Stop (Red Hot Chili Peppers)     Sounds like: Somewhere Over the Rainbow
        Sample:                                                                    Sample:


        Interval #11: 11 Half Steps
        ------------------------------------
        Alias: Major 7th
        Sounds like: Take On Me (A-ha)
        Sample:

            </textarea>

            <textarea name="name" rows="10" cols="40" id="step5" class="step5">
                                             <== STEP 5 ==>


                 Each game lasts 10 rounds. Keep track of your score on the top corner  ====>

            </textarea>

            <textarea name="name" rows="10" cols="40" id="final-step" class="final-step">
                                                                        <== FINAL STEP ==>
 Your final score is given. If you wish to compete for a high-score, you can save your scores for each game.

 If you would like to play the "INTERVAL GAME" now, click "PLAY GAME". Or click "MENU" to return to the the main menu.

            </textarea>
            <button type="button" id="minor-2nd" class="minor-2nd">Play Interval</button>
            <button type="button" id="major-2nd" class="major-2nd">Play Interval</button>
            <button type="button" id="minor-3rd" class="minor-3rd">Play Interval</button>
            <button type="button" id="major-3rd" class="major-3rd">Play Interval</button>
            <button type="button" id="perfect-4th" class="perfect-4th">Play Interval</button>
            <button type="button" id="tritone" class="tritone">Play Interval</button>
            <button type="button" id="perfect-5th" class="perfect-5th">Play Interval</button>
            <button type="button" id="minor-6th" class="minor-6th">Play Interval</button>
            <button type="button" id="major-6th" class="major-6th">Play Interval</button>
            <button type="button" id="minor-7th" class="minor-7th">Play Interval</button>
            <button type="button" id="major-7th" class="major-7th">Play Interval</button>
            <button type="button" id="octave" class="octave">Play Interval</button>
            <button type="button" id="next-tutorial" class="next-tutorial">Next</button>
            <button type="button" id="next-tutorial2" class="next-tutorial2">Next</button>
            <button type="button" id="next-tutorial3" class="next-tutorial3">Next</button>
            <button type="button" id="next-tutorial4" class="next-tutorial4">Next</button>
            <button type="button" id="next-tutorial5" class="next-tutorial5">Next</button>
            <button type="button" id="final-play-game" class="final-play-game"><a style="color:#000000;" href="/users/intervals">Play Game</a></button>
            <button type="button" id="final-menu" class="final-menu"><a style="color:#000000;" href="/users/menu">Menu</a></button>

            <textarea name="name" rows="10" cols="40" id="step4" class="step4">
                                <==Step 4 ==>
Click the number of half steps from the options below that you think matches the played interval.
                                    |
                                   &#9660;
            </textarea>
            <textarea name="name" rows="10" cols="40" id="step3" class="step3">

                        <== STEP 3 ==>
Click "EASY", "MEDIUM", or "HARD" to change the difficulty of the game!







                                                                      ===>

            </textarea>
            <textarea name="name" rows="10" cols="40" id="step2" class="step2">

                                                <==Step 2 ==>
Click "PLAY INTERVAL" to hear the interval note. The interval note will be in the range of 1 - 12 half steps away from the root note.

                                                        |
                                                        |
                                                        |
                                                        |
                                                       &#9660;
            </textarea>
            <button type="button" id="start-tutorial" class="start-tutorial">Start</button>
            <div class="root-label">
                Root Note
            </div>
            <div class="rootNote">
                <div class="save">
                    <button type="button" id="gameover" class="gameover-button">Game Over</button>
                </div>
                <button type="button" id="root-button" class="root-button">C</button>
                <textarea name="name" rows="10" cols="40" id="step1" class="step1">

<== STEP 1:
Click "Play Root Note" to hear the first note!
                </textarea>
                <button type="button" id="play-root-button" class="play-root-button">Play Root Note</button>
                 How Many Half Steps Between the 2 Notes?
                 <button type="button" id="score" class="score">5</button>

            </div>
            <div class="save">
                <button type="button" id="save" class="save-button">Would you like to save your score?</button>
            </div>
            <button type="button" id="yes" class="yes-button" style="color:#000000;">Yes</button>
            <button type="button" id="no" class="no-button" style="color:#000000;">No</button>

            <div class="choices-easy" id="choices-easy">
                <div class="btn-toolbar">
                  <button type="button" id="easy-1" class="button">Submit</button>
                  <button type="button" id="easy-2" class="button">Cancel</button>
                  <button type="button" id="easy-3" class="button">Submit</button>
              </div>
            </div>
            <div class="choices-medium" id="choices-medium">
                <div class="btn-toolbar">
                  <button type="button" id="med-1" class="button">Submit</button>
                  <button type="button" id="med-2" class="button">Cancel</button>
                  <button type="button" id="med-3" class="button">Submit</button>
                  <button type="button" id="med-4" class="button">Cancel</button>
                  <button type="button" id="med-5" class="button">Submit</button>
              </div>
            </div>
            <div class="choices-hard" id="choices-hard">
                <div class="btn-toolbar">
                  <button type="button" id="hard-1" class="button">Submit</button>
                  <button type="button" id="hard-2" class="button">Cancel</button>
                  <button type="button" id="hard-3" class="button">Submit</button>
                  <button type="button" id="hard-4" class="button">Cancel</button>
                  <button type="button" id="hard-5" class="button">Submit</button>
                  <button type="button" id="hard-6" class="button">Cancel</button>
                  <button type="button" id="hard-7" class="button">Submit</button>
                </div>
            </div>
            <div class="choices">
                <div class="child">
                  <button type="button" id="repeat" class="repeat">Play Interval</button>
                  <button type="button" id="hardDiff" class="button3">Hard</button>
                  <button type="button" id="mediumDiff" class="button2">Medium</button>
                  <button type="button" id="easyDiff" class="button2">Easy</button>
                </div
            </div>
        </div>

        <script type="text/javascript" src="/javaScript/intervalTutorial.js"></script>

    </body>
</html>
